.payment-container {
    .payment-header {
       text-transform: uppercase;
       margin: 0 auto;
       display: flex;
       flex-direction: row;
       width: fit-content;
       .current-step {
          width: fit-content;
          display: flex;
       }
       hr {
          align-self: center;
          width: 50px;
          margin: 0 16px;
       }
       .next-step {
          display: flex;
          color: #bdbdbd;
       }
    }
    .payment-info {
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       margin: 16px 0 0 0;
       input {
          margin: 6px 0;
          padding: 8px 16px;
          border-radius: 4px;
          border: 1px solid #f2f2f2;
       }
       label {
          font-size: 0.7rem;
       }
       .address-content {
          grid-column-start: 1;
          grid-column-end: 6;
          .address-info {
             margin: 16px 0 0 0;
             .name {
                @extend .input-info;
             }
             .address-post {
                @extend .address-contents-default;
                @extend .default-grid;
                .address {
                   @extend .input-info;
                   grid-column: span 8;
                }
                .post {
                   @extend .input-info;
                   grid-column: span 4;
                }
             }
             .city-phone {
                @extend .address-contents-default;
                @extend .default-grid;
                .city {
                   @extend .input-info;
                   grid-column: span 6;
                }
                .phone {
                   @extend .input-info;
                   grid-column: span 6;
                }
             }
             .country {
                @extend .address-contents-default;
                @extend .input-info;
             }
          }
       }
       .method-info {
          grid-column-start: 8;
          grid-column-end: 13;
          .choice-method {
             margin: 16px 0 0 0;
             .credit-card {
                width: 50%;
                @extend .choice-default;
             }
             .digital-wallet {
                width: 46%;
                margin: 16px 0 0 0;
                @extend .choice-default;
             }
             .internet {
                width: 33%;
                margin: 16px 0 0 0;
                @extend .choice-default;
             }
          }
       }
    }
    .nextButt {
       display: flex;
       padding: 8px 16px;
       border: 1px solid transparent;
       border-radius: 8px;
       background-color: #00a79d;
       color: #fff;
       margin: 0 0 0 auto;
       cursor: pointer;
       h3 {
          letter-spacing: 0.03rem;
          align-self: center;
       }
       svg {
          align-self: center;
          margin: 0 0 0 12px;
       }
    }
 }
 .summarize-container {
    max-width: 1440px;
    margin: 50px auto;
    box-sizing: border-box;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: left;
    .summarize-content {
       .checkout-header {
          text-transform: uppercase;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          width: fit-content;
          .current-step {
             width: fit-content;
             display: flex;
          }
          hr {
             align-self: center;
             width: 50px;
             margin: 0 16px;
          }
          .next-step {
             display: flex;
             color: #bdbdbd;
          }
       }
       .summarize-items-content {
          margin: 50px 0 0 0;
          .summarize-items-header {
             h1 {
                font-size: 1.5rem;
             }
          }
          .items-content {
             margin: 24px 0 0 0;
             .content {
                margin: 16px 0 32px 0;
                ul {
                   padding: 0;
                   @extend .default-grid;
                   grid-template-columns: repeat(12, 2fr);
                   grid-auto-flow: row;
                }
                li {
                   list-style: none;
                   grid-column: span 6;
                   .item {
                      .item-info {
                         display: flex;
                         justify-content: space-between;
                         .item-img {
                            width: 184px;
                            height: 184px;
                            padding: 32px;
                            box-sizing: border-box;
                            background-color: #f4f4f4;
                            display: flex;
                            justify-content: center;
                            border-radius: 10px;
                            img.board-img {
                               width: 36px;
                               height: 100%;
                            }
                            img.wheels-img {
                               width: 100%;
                               height: 100%;
                            }
                         }
                         .item-desc {
                            margin: 0 200px 0 0;
                            h2 {
                               text-transform: uppercase;
                               letter-spacing: 0.075rem;
                            }
                            p {
                               font-size: 0.85rem;
                               letter-spacing: 0.025rem;
                               margin: 4px 0;
                               color: #bdbdbd;
                            }
                         }
                      }
                   }
                }
             }
          }
          .address-contents-default {
             margin: 6px 0 0 0;
          }
          .input-info {
             display: flex;
             flex-direction: column;
          }
          .shipping-contents {
             margin: 16px 0;
             @extend .default-grid;
             input {
                margin: 6px 0;
                padding: 8px 16px;
                border-radius: 4px;
                border: 1px solid #f2f2f2;
             }
             label {
                font-size: 0.7rem;
             }
             .address-content {
                grid-column: span 4;
                .address-info {
                   margin: 16px 0 0 0;
                   .name {
                      @extend .input-info;
                   }
                   .address-post {
                      @extend .address-contents-default;
                      @extend .default-grid;
                      .address {
                         @extend .input-info;
                         grid-column: span 8;
                      }
                      .post {
                         @extend .input-info;
                         grid-column: span 4;
                      }
                   }
                   .city-phone {
                      @extend .address-contents-default;
                      @extend .default-grid;
                      .city {
                         @extend .input-info;
                         grid-column: span 6;
                      }
                      .phone {
                         @extend .input-info;
                         grid-column: span 6;
                      }
                   }
                   .country {
                      @extend .address-contents-default;
                      @extend .input-info;
                   }
                }
             }
             .default-method {
                grid-column: span 4;
                .method-info {
                   margin: 32px 0 0 0;
                   width: 100%;
                   display: flex;
                   justify-content: space-between;
                }
             }
             .delivery-method {
                @extend .default-method;
             }
             .payment-method {
                @extend .default-method;
                .method-info {
                   width: 50%;
                }
                .card-info {
                   margin: 16px 0 0 0;
                   .card-name {
                      @extend .input-info;
                   }
                   .card-sec {
                      display: grid;
                      grid-template-columns: repeat(12, 1fr);
                      grid-gap: 32px;
                      margin: 6px 0 0 0;
                      .card-no {
                         grid-column: span 6;
                         @extend .input-info;
                      }
                      .card-exp,
                      .card-cvc {
                         grid-column: span 3;
                         @extend .input-info;
                      }
                   }
                }
             }
          }
       }
    }
 }